{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}




<div class="row">
  <div class="col-sm-12 text-center d-flex justify-content-center mt-5 text-secondary" >

    <div class="card" style="width: 25rem;">
      <h2 style=" margin-bottom: 1em; margin-top: 2em;">Password Change</h2>
      <p >Please enter your old password, for security's sake, and then enter your
        new password twice so we can verify you typed it in correctly.</p> 
        
      <form  method="post">
          {% csrf_token %}
         {{ form|crispy }}
          <input class="bg-secondary text-white" type="submit" value="Change my password">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
