{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}




<div class="row">
    <div class="col-sm-12 text-center d-flex justify-content-center mt-5 text-secondary" >

      <div class="card" style="width: 35rem;">
        <h3 class="mb-3">Log-in</h3>
        <form  method="post">
            {% csrf_token %}
           
            {{ form|crispy }}
            
            <input class="bg-secondary text-white" type="submit" value="Login">
        </form>
      </div>
    </div>
</div>



{% endblock content %}