{% extends 'base.html' %}
{% block title %}Enter new password{% endblock title %}
{% block content %}

{% load crispy_forms_tags %}

<div class="row">
  <div class="col-sm-12 text-center d-flex justify-content-center mt-5 text-secondary" >

    <div class="card" style="width: 35rem;">
      <h1>Set a new password!</h1>
      <form  method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="bg-secondary text-white" type="submit" value="Change my password">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
