{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}



<div class="row">
  <div class="col-sm-12 text-center d-flex justify-content-center mt-5 text-secondary" >

    <div class="card" style="width: 35rem;">
      <h1>Forgot your password?</h1>
      <p>Enter your email address below, and we'll email instructions for setting
      a new one.</p>
        
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-Secondary" type="submit" value="Send me instructions!">
      </form>
    </div>
  </div>
</div>

{% endblock content %}
